.dateTime {
  width: 181px;
  height: 32px;
  border: 0;
  border-bottom: 1px solid #e0e0e0;

  font-family: Exo, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  padding-left: 8px;
  padding-right: 8px;
  position: absolute;

  background-color: transparent;

  z-index: 12;
  cursor: pointer;
}

.dateTime:active,
.dateTime:hover,
.dateTime:focus {
  outline: 1px solid #e0e0e0;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .dateTime {
    width: 280px;
  }
}
